﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
  
 <!-- Our shop section -->
     <br>
      <div id="about" class="shop">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-5 padding_right0">
                  <div  class="shop_img">
                       <br>
                       <br>
                     <figure><img src="assets/images/sucursal1.png" alt="#"/></figure>
                  </div>
               </div>
              
               <div class="col-md-7 padding_right0">
                  <div class="max_width">
                     <div class="titlepage">
                        <h2>Sucursal Optica Latacunga</h2>
                        <p>La óptica física es un modelo de la luz más completo, que incluye efectos ondulatorios como la difracción y la interferencia, que no se pueden abordar mediante .</p>
                        <a class="read_more" href="#">Agendar Cita</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Our shop section -->
     
</asp:Content>

